<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		
		<!-- maximum-scale=1.0 与 user-scalable=no 一起使用,禁用缩放功能 -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
		<title>素拓管理平台</title>
		
		<link rel="stylesheet" href="/thinkphp/Public/css/bootstrap.min.css">
		<link rel="stylesheet" href="/thinkphp/Public/css/common.css" />
		
	</head>
	<body>
		
		
		
		<script src="/thinkphp/Public/js/jquery.min.js"></script>
		<script src="/thinkphp/Public/js/bootstrap.min.js"></script>
		<script src="/thinkphp/Public/js/common.js"></script>
		
	</body>
</html>
