<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- maximum-scale=1.0 与 user-scalable=no 一起使用,禁用缩放功能 -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>素拓加分</title>
		
		<link rel="stylesheet" href="/actyprj/thinkphp/Public/css/bootstrap.min.css">
		<link rel="stylesheet" href="/actyprj/thinkphp/Public/css/common.css" />
		
	</head>
	<body>
		
		<div class="container">
			<div class="row">						
				<!-- center -->
				
				<!-- attention picture -->
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12 white-box top-offset"></div>
						<div class="col-xs-12 top-offset">
							<img class="col-xs-12" src="/actyprj/thinkphp/Public/images/unbound_01.png" />
						</div>
					</div>
				</div>
				
				<!-- description -->
				<div class="col-xs-10 col-xs-offset-1 top-offset">
					<p class="font-size-16 text-center text-black"><span class="text-red">加分失败</span>，素拓票无效</p>
				</div>
				
				<!-- button -->
				<!-- <div class="col-xs-10 col-xs-offset-1 top-offset">
					<button type="button" class="btn btn-warning button-width" onclick="location.href='https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI2MTQwNTYzMQ==&scene=110#wechat_redirect'">前往绑定</button>
				</div> -->
			</div>
		</div>
		
		<script src="/actyprj/thinkphp/Public/js/jquery.min.js"></script>
		<script src="/actyprj/thinkphp/Public/js/bootstrap.min.js"></script>
		<script src="/actyprj/thinkphp/Public/js/common.js"></script>
		
	</body>
</html>